body{
    margin: 0;
    background: var(--bg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    scroll-behavior: smooth;
    transition: all 3ms ease;
}