.s-container{
    position: relative;
}
.swiper{
    width: 70%;
    height: 12rem;
    position: unset;
}
.swiper-slide{
    background: white;
    display: flex;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.swiper-button-prev{
    padding-top: 22%;
    left: 6rem;
    color: black;
}
.swiper-button-next{
    padding-top: 22%;
    right: 6rem;
    color: black;
}
.left-s{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.name{
    display: flex;
    flex-direction: column;
}
.name>:nth-child(1){
    font-size: 1.4rem;
    font-weight: 600;
}
.name>:nth-child(2){
    font-size: 0.7rem;
}
.left-s>:nth-child(2){
    font-weight: bold;
    font-size: 2rem;
}
.left-s>:nth-child(3){
    font-size: 0.6rem;
    border: 1px solid var(--black);
    padding: 5px 10px;
    border-radius: 15px;
    width: max-content;
}
.img-p{
    transform: rotate(-20deg);
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    bottom: -20%;
}